<div class="form-row align-items-center ml-3">
     <form id="form-sorting form-inline" action="" method="GET">
        <select name="sortby" class="custom-select mr-sm-2" id="inlineFormCustomSelect" onchange='this.form.submit();'>
            {% set sortBy = request.query.get('sortby') %}
            <option disabled  {% if sortBy is empty %} selected {% endif %}> Sort...</option>
            <option value="firstName-asc"  {% if sortBy is same as('firstName-asc') %} selected {% endif %}>First Name A-Z</option>
            <option value="firstName-desc" {% if sortBy is same as('firstName-desc') %} selected {% endif %}>First Name - Z-A</option>
            <option value="lastName-asc" {% if sortBy is same as('lastName-asc') %} selected {% endif %}>Last Name A-Z</option>
            <option value="lastName-desc" {% if sortBy is same as('lastName-desc') %} selected {% endif %}>Last Name Z-A</option>
        </select>
    </form>
</div>
